.product-container-all{
    background: rgb(38,38,70);
    background: linear-gradient(90deg, rgba(38,38,70,1) 4%, rgba(157,170,174,1) 100%);
    width: 100vw;
    height: 100vh;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    list-style-type: none;
    background: rgb(38,38,70);
    background: linear-gradient(90deg, rgba(38,38,70,1) 4%, rgba(157,170,174,1) 100%);
}

.product-container-items{
    border: 1px solid whitesmoke;
    width: 30%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.serchbar-heading{
    flex-direction: row;
}
.profile{
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-btn{
    width: 4rem;
    border-radius : 1rem;
    height: 4rem;
    width: 100%; /* Optionally, set the width to ensure the icon is centered horizontally */
    height: 100%
}
.checkout-btn{
     height: 3rem;
     width: 10rem;
     position: fixed;
     top: 60%;
     left: 0%;
     z-index: 999;
     cursor: pointer;
     border-top-right-radius: 100px;
     border-bottom-right-radius: 100px;
}
.checkout-btn1{
     height: 3rem;
     width: 10rem;
     position: fixed;
     top: 50%;
     left: 0%;
     z-index: 999;
     cursor: pointer;
     border-top-right-radius: 100px;
     border-bottom-right-radius: 100px;
}

.product-container-items:hover{
    transform: scale(1.1);
}
.product-image{
    position: relative;
    width: 70%;
    height: 60%;
   border-radius: 1rem;
}

.product-container-iterms:hover{
    opacity: 1;
}
@media screen and (max-width: 576px){
   .product-container-items{
    width: 90%;
   } 

   .product-container{
    flex-direction: column;
   }

  .profile-btn{
    width: 90%;
    height: 90%;
  }

  .user-icon{
    size: 40%;
  }
}