
 

.pyament{
    margin-left: 30%;
}


.increse {
    margin-left: 2rem;
}
 

@media screen and (max-width: 576px){
    .checkout-container{
     margin-left: 0%;
    } 
    .checkout-container-all{
        margin-left: 0%;
    }
 }